
	<section class="banner home">

    <div id="feature_slider" class="">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: transparent;">
            <!-- <img class="asset left-30 sp600 t120 z1" src="/assets/clean/slides/scene3/canon.png" /> -->
          	<div class="center hero-unit-transparent">
							<h1>Artchive</h1>
							<h2>
								Welcome to 
								<a href="http://localhost:3000">Artchive.</a>.
							</h2>
							<a href="#feature-set" class="down-tab center btn btn-primary btn-large" name="feature-set">
								LEARN MORE
							</a>
						</div>
        </article>
        <article class="slide" id="ideas" style="background: transparent;">
            <div class="info">
                <h2>We bring digital cameras to everyone.</h2>
            </div>
<!--             <img class="asset left-480 sp600 t260 z1" src="/assets/clean/slides/scene3/canon.png" />
            <img class="asset left-210 sp600 t213 z2" src="/assets/clean/slides/scene3/canon.png" />
            <img class="asset left60 sp600 t260 z1" src="/assets/clean/slides/scene3/canon.png" /> -->
        </article>
        <article class="slide" id="tour" style="background: transparent;">
<!--             <img class="asset left-472 sp650 t210 z3" src="/assets/clean/slides/scene3/canon.png" />
            <img class="asset left-365 sp600 t270 z4" src="/assets/clean/slides/scene3/canon.png" />
            <img class="asset left-350 sp450 t135 z2" src="/assets/clean/slides/scene3/canon.png" />
            <img class="asset left-185 sp550 t220 z1" src="/assets/clean/slides/scene3/canon.png" /> -->
            <div class="info">
                <h2>Incredible Lenses at Incredible Prices</h2>
                <a href="features.html">TOUR THE PRODUCT</a>
            </div>
        </article>
<!--         <article class="slide" id="responsive" style="background: transparent;">
            <img class="asset left-472 sp600 t120 z3" src="/assets/clean/slides/scene3/canon.png" />
            <img class="asset left-190 sp500 t120 z2" src="/assets/clean/slides/scene3/canon.png" />
            <div class="info">
                <h2>
                    Another <strong>example</strong>
                    of what you can do
                </h2>                
            </div>
        </article>  -->       
    </div>
			

	</section>
	
	