                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Brands<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/brands/rokinon">Rokinon</a></li>
                    <li><a href="#">Coleman</a></li>
                    <li><a href="#">Brand 3</a></li>
                    <li><a href="#">Brand 4</a></li>
                  </ul>
                </li>